.btnn_c
{
	text-align: center;
	font-size: 150%;
}

.faqs{
	font-family:monospace,sans-serif;
	
}

.timer__items {
	font-family:monospace,sans-serif;
  display: flex;
  font-size: 48px;
}
.timer__item {
	
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}
.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}

.htext{
	text-align: center;
	font-size: 150%;
	margin-bottom:0.8em;
}

.offset{
	margin:10%;
}
.blockmain{
	margin:20em;
	
}
.mainimg{
		height: 100%;
		width:100%;
		
}

.main_body{
	background-size: 100% 100%;
    background-repeat: no-repeat;
	font-family:Fjalla One;
	font-size:120%;
}


details{
  display:block;
  background: #green;
  width:750px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  overflow:hidden;
  margin-bottom: 1.5rem;
  
}
summary {
   display:block;
   padding: .3em;
   text-indent: 10px;
   font-size: 1em;
   cursor: pointer;
   color: silver;
   border: 1px solid #008000;
   border-radius: 7px;
   padding: 10px;
}
details[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
summary:focus {
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}
details p {
  background: rgba(114, 114, 114, 0.2);
  margin: 10px 0 0 0;
  border-radius: 8px;
  color: #fff;
  padding: 20px 15px;
}
details summary i {
  color: #008000;
  padding: 0 10px 0 0;
}
details summary i:last-child {
  font-size: 1.2em;
}
details > summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
details > summary::-webkit-details-marker {
  display: none;
}
.socIcoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}
.socIcoWrap i {
  color: silver;
  font-size: 2em;
}